* {
  box-sizing: border-box;
}

body {
  font-family: "Merriweather", serif;
}

p {
  font-weight: 400;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a {
  transition: 0.5s;
}

#header_area {
  border-top: 5px solid #3bafbe;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
}

.social_area {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
}

.social_area ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social_area ul li {
  display: inline-block;
  margin-right: 5px;
}

.social_area ul li a {
  background: #1f1f1f;
  width: 35px;
  height: 35px;
  color: white;
  display: block;
  text-align: center;
  padding-top: 5px;
  border-radius: 50%;
  transition: 0.5s;
}

.social_area ul li a:hover {
  background: #ee802f;
}

.search_area {
  text-align: right;
  width: 100%;
  clear: both;
  margin-bottom: 22px;
}

.search_area input {
  background: #333333;
  color: #fff;
  border: 0px solid;
  padding: 10px;
  border-radius: 5px;
}

.search_area input[type="submit"] {
  background: #3bafbe;
  cursor: pointer;
  transition: 0.5s;
}

.search_area input[type="submit"]:hover {
  background: #ee802f;
}

#main_menu {
  text-align: right;
}

#main_menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#main_menu ul li {
  display: inline-block;
}

#main_menu ul li a {
  display: block;
  font-size: 14px;
  color: #999999;
  text-decoration: none;
  padding: 5px 15px;
}

#main_menu ul li a:hover {
  color: #3bafbe;
}

#banner_area {
  width: 100%;
  overflow: hidden;
  position: relative;
}

#banner_area .item {
  width: 100%;
  overflow: hidden;
}

#banner_area .item img {
  width: 40%;
  height: auto;
}

.banner_text {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.banner_table {
  display: table;
  height: 100%;
  width: 100%;
}

.banner_align {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  width: 100%;
}

.banner_textarea {
  margin: 0 auto;
  width: 1170px;
}

.main_banner {
  float: right;
  width: 50%;
}

.main_banner a {
  background: #3bafbe none repeat scroll 0 0;
  border-radius: 25px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
}

.main_banner a:hover {
  background: #262626 none repeat scroll 0 0;
}

.bx-wrapper .bx-controls-direction a {
  display: none;
}

.bx-wrapper .bx-pager {
  text-align: right;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #3bafbe;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 4px solid #3bafbe;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

